<style>
    .pic_item{
      /* display: flex; */
      position: relative;
      width: 960px;
      /* background-color: #fa0; */
    } 
    .pic_item img{
      padding-top: 200px;
      width: 650px;
      height: 400px;
      display: block;
      margin-left:300px; 
      position: relative;
      /* background-color: #fa0; */
    }
    /* .square{
      background-color: #fa0;
      display: inline-block;
      width: 400px;
      height: 300px;
      position: relative;
      left: 300px;
      bottom: 300px;
    } */

    .arrow{
      background-color: #f00;
      width: 60px;
      height: 50px;
      position: absolute;
      margin-left:920px;
      bottom: 100px;
    }
    .arrow_b{
      background-color: #f00;
      width: 60px;
      height: 50px;
      position: relative;
      bottom: 200px;
      left:60px;
    }
    .triangle{
      width: 40px;
      height: 40px;
      background-color:  #fff;
      clip-path: polygon(0% 0%,100% 50%,0% 100%);
      margin-left: 10px;
      margin-top: 5px;
      position: relative;
      
    }
    .pic_item_b img{
      padding-top: 150px;
      width: 650px;
      height: 400px;
      display: inline-block;
      position: relative;
      left: 100px;
    }
 
    .title{
      width: 300px;
      /* height: 200px; */
      font-size: 24px;
      position: absolute;
      background-color:#c00;
      top: 57px;
      left:150px;
      /* overflow: auto; */
      text-align: center;
      letter-spacing: 3px;
    }  
  
    .title_b{
      width: 300px;
      font-size: 25px;
      position: relative;
      background-color:#c00;
      bottom: 557px;
      text-align: center;
      letter-spacing: 3px;
      left: 500px;
      color: white;
    }
    .title_b .bbb{
      font-size: 50px;
    }
    
    .title .aaa::before{
      display: inline-block;
      content: "01";
      /* letter-spacing: 1px; */
      writing-mode: vertical-lr;
      text-orientation: sideways-right;
      font-size: 70px;
      bottom: 10px;
      text-decoration: none;
      /* background-color: #fa0; */
      position: relative;
      top: 20px;
      right: 10px;
    }
    
    .title_b .bbb::after{
      display: inline-block;
      content: "02";
      /* letter-spacing: 1px; */
      writing-mode: vertical-lr;
      text-orientation: sideways-right;
      font-size: 70px;
      top: 10px;
      /* bottom: 10px; */
      text-decoration: none;
      /* background-color: #fa0; */
      position: relative;
      /* top: 20px; */
      /* right: 30px; */
    }
    .title h2{
      color:white;
      display: inline-block;
      /* background-color: #fa0; */
      font-size: 50px;
      margin: auto;
      margin-right: 15px;  
    } 
    
    .title_txt{
      color: rgb(200, 208, 208);
      background-color: #000;
      padding:10px;
      padding-left: 15px;
      line-height: 25px;
      letter-spacing: 5px;
      margin-top: 10px;
      display: inline-block;
    }
    .title_txt h4{
      text-align: left;
      font-size: 20px;
    }
    .title_txt p{
      margin-top: 0px;
      font-size: 15px;
      text-align: left  ;
    }
    .list{
      width: 800px;
      left: 200px;
      /* top: 0px; */
      position: relative;
      bottom: 50px;
      background-color: rgba(241, 241, 241, 0.993);
      /* position: absolute; */
      /* bottom: 100px; */
    }
    .list_b{
      width: 650px;
      left: 350px;
      background-color: rgba(241, 241, 241, 0.993);
      position: relative;
      bottom: 40px;
    }
  
    .listbox{
      padding-top: 5px;
      padding-left: 40px;
      padding-bottom: 5px;
    }
    .listbox_b{
      position: relative;
      left: 30px;
    }
    .listbox_b p{
      width: 100px;
      background-color:#000;
      color: white;
      text-align:center ;
      border-radius: 5%;
      margin: 5px 5px;
    }

    .solgan{
      /* background-color: #fa0; */
      padding-top: 15px;
      padding-left: 15px;
      color: red;
      font-weight: bold;
     
    }
    .solgan::after{
      display: inline-block;
      content:'';
      background-color: red;
      color: red;
      width: 580px;
      height: 1px;
      position: relative;
      top: -5px;
      left: 3px;
    }

    .listbox p{
      width: 100px;
      background-color:#000;
      color: white;
      text-align:center ;
      border-radius: 5%;
      margin: 5px 5px;
    }  
  .box_b{
    position: relative;
    top: 100px;
    left: 50px;
    /* bottom: 100px; */
  }
  .list_b{
    position: relative;
    bottom: 300px;
    width: 800px;
    left: 200px;
  }
    
  </style>